.map-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
}

.sidebar {
  position: absolute;
  bottom: 200px;
  left: 40px;
  z-index: 1000;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  width: 280px;
}

.sidebar h3 {
  margin-bottom: 15px;
  color: #333;
  font-size: 18px;
  border-bottom: 2px solid #4CAF50;
  padding-bottom: 5px;
}

.sidebar label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.sidebar input[type="radio"] {
  margin-right: 10px;
}

.sidebar input[type="date"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sidebar-buttons button {
  margin-top: 20px;
  width: 100%;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-buttons button:hover {
  background-color: #45a049;
}

.sidebar-buttons button:active {
  background-color: #3e8e41;
}

.sidebar-buttons button:focus {
  outline: none;
}

.map-container {
  width: 100%;
  height: 100vh;
}

.buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  
  border: none;
  background-color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d3e2d4;
}

button:active {
  background-color: #3e8e41;
}

button:focus {
  outline: none;
}

.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  z-index: 9999;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.react-datepicker-wrapper{
  cursor: pointer;
}

.legend {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.legend-color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}



li{
  list-style-type: none;
}

.popup {
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.heatmap-legend {
  padding: 10px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.heatmap-legend h3 {
  margin-top: 0;
}

.gradient {
  display: flex;
}

.gradient div {
  width: 20px;
  height: 20px;
  margin-right: 2px;
}
